{% if content is not null %}
<h3>{{'Address'|trans}}</h3>
<address>
    {{ ez_render_field(
           content,
           "description",
           {
               'editMode': false
           }
       )
    }}
</address>
{% endif %}
