<h3>{% trans %}Latest News{% endtrans %}</h3>
<ul>
    {% for content in latestContent.searchHits %}
        <li><a href="{{ path( 'ez_urlalias', {'locationId': content.valueObject.contentInfo.mainLocationId} ) }}">{{ content.valueObject.contentInfo.name }}</a></li>
    {% endfor %}
</ul>
