imports:
    - { resource: config.yml }
    - { resource: ezplatform_prod.yml }

#framework:
#    validation:
#        cache: apc

#doctrine:
#    orm:
#        metadata_cache_driver: apc
#        result_cache_driver: apc
#        query_cache_driver: apc

monolog:
    handlers:
        main:
            type:         fingers_crossed
            # eZ Publish sets this to critical instead of error to avoid too verbose logs in prod
            action_level: critical
            handler:      nested
        nested:
            type:  %log_type%
            path:  %log_path%
            level: debug
        console:
            type:  console
