# Doctrine DBAL configuration
doctrine:
    dbal:
        connections:
            default:
                driver: pdo_mysql
                host: localhost
                user: root
                password: root
                dbname: ezdemo
                charset: UTF8

# Stash is used for persistence cache
stash:
    caches:
        default:
            drivers:
                # When using multiple webservers, you must use Memcache or Redis
                - FileSystem
            inMemory: true
            registerDoctrineAdapter: false
            # On Windows, using FileSystem, to avoid hitting filesystem limitations
            # you need to change the keyHashFunction used to generate cache directories to "crc32"
            # FileSystem
            #    keyHashFunction: crc32

ezpublish:
    # Define all your repositories here
    # If you use multi-site with multiple databases, you shall define multiple repositories
    repositories:
        # "main" repository, with default values
        # Same as:
        # main: { engine: legacy, connection: default }
        main: ~

    siteaccess:
        # Available siteaccesses
        list:
            - ezdemo_site
            - fre
            - ezdemo_site_admin
        # Siteaccess groups. Use them to group common settings.
        groups:
            ezdemo_group: [ezdemo_site, fre, ezdemo_site_admin]
            frontend_group: [ezdemo_site, fre]
        default_siteaccess: ezdemo_site
        match:
            Map\URI:
                ezdemo_site: ezdemo_site
                ezdemo_site_admin: ezdemo_site_admin
                fre: fre
            Map\Host:
                ezpublish.dev: ezdemo_site
                admin.ezpublish.dev: ezdemo_site_admin

    imagemagick:
        enabled: true
        # Absolute path to ImageMagick "convert" binary
        path: /opt/local/bin/convert

    # System settings, grouped by siteaccess and/or siteaccess group
    system:
        ezdemo_group:
            # The repository to use. Here "main", which is defined in "repositories" above.
            repository: main
            languages: [eng-GB, fre-FR]
        frontend_group:
            # Session name will be common for all siteaccesses members of this group
            # It means that session will be shared for frontend siteaccesses, but not with backoffice
            session:
                name: MyFrontendSessionName
        ezdemo_site:
            content:
                view_cache: true
                ttl_cache: true
                # TTL cache (http) in seconds
                # Note that Http cache for a given content is always invalidated when publishing that content
                default_ttl: 300
            location_view:
                full:
                    smallFolder:
                        template: eZDemoBundle:full:small_folder.html.twig
                        match:
                            Identifier\ContentType: small_folder
                            Identifier\ParentContentType: [landing_page, frontpage]
            # Define here your image variations (formerly known as "image aliases")
            image_variations:
                my_image_variation:
                    reference: ~
                    filters:
                        - {name: geometry/scaledownonly, params: [400, 350]}
                my_cropped_variation:
                    reference: my_mage_variation
                    filters:
                        - {name: geometry/scalewidthdownonly, params: [300]}
                        - {name: geometry/crop, params: [200, 200, 0, 0]}
        ezdemo_site_admin:
            # Use legacy mode to use the admin interface since everything needs to run via the legacy kernel
            legacy_mode: true
