# This file is a "template" of what your parameters.yml file should look like
parameters:
    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt
    locale_fallback: en

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    database_driver: pdo_mysql
    database_host: localhost
    database_port: ~
    database_name: ezplatform
    database_user: root
    database_password:
