parameters:
    # Adds a fallback DATABASE_URL if the env var is not set.
    # This allows you to run cache:warmup even if your
    # environment variables are not available yet.
    # You should not need to change this value.
    env(DATABASE_URL): ''
    env(DATABASE_DRIVER): ''
    database_driver: '%env(DATABASE_DRIVER)%'

doctrine:
    dbal:
        # configure these for your database server
        driver: '%database_driver%'
        charset: '%database_charset%'
        default_table_options:
            charset: '%database_charset%'
            collate: '%database_collation%'
        url: '%env(resolve:DATABASE_URL)%'
    orm:
        auto_generate_proxy_classes: true
        naming_strategy: doctrine.orm.naming_strategy.underscore_number_aware
        auto_mapping: true
        mappings:
            App:
                is_bundle: false
                type: annotation
                dir: '%kernel.project_dir%/src/Entity'
                prefix: 'App\Entity'
                alias: App
