### IDE files
.idea/

### Composer files
auth.json

### GIT files
.git
# Skipped as it makes build very slow and since it is needed by composer when working on dev branches
#vendor/*/*/.git

### Symfony template
# Cache and logs (Symfony2)
app/cache/*
app/logs/*
!app/cache/.keep
!app/logs/.keep

# Email spool folder
app/spool/*

# Cache, session files and logs (Symfony3)
var/cache/*
var/logs/*
var/sessions/*
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/sessions/.gitkeep

# Parameters (should be regenerated in container)
app/config/parameters.yml

# Managed by Composer
app/bootstrap.php.cache
var/bootstrap.php.cache
#bin/*
#!bin/console
#!bin/symfony_requirements

# Disabled as this is needed for dev setups unless we change dev to execute composer install automatically
#vendor/

# Assets and user uploads
web/bundles/
web/css/
web/js/
web/uploads/
web/fonts/

# Assets managed by Bower
web/assets/vendor/

# PHPUnit
app/phpunit.xml
phpunit.xml

# Build data
build/

# Composer PHAR
composer.phar

# Backup entities generated with doctrine:generate:entities command
*/Entity/*~

