# All user specific files from now on should be kept in the global .gitignore file
# located in the user's local environment. To do so you have to inform Git which
# files should be excluded globally (for every Git repository).
#
# Here is a short instruction about how to exclude selected files globally:
#
# - create a new .gitignore file in your home folder:
#   touch ~/.gitignore
#
# - add some exclusions, eg:
#   /nbproject/
#   /.idea/
#
# - inform Git where it should start looking for .gitignore file:
#   git config --global core.excludesfile ~/.gitignore
#
# More details about excluding specific file on your local environment can be found
# in the official GitHub article: https://help.github.com/articles/ignoring-files/

/vendor/
.php~
/bin/behat
/bin/phpunit
/app/check.php
/app/SymfonyRequirements.php
/app/cache/
/app/logs/
/ezpublish_legacy
/app/config/parameters.yml
/app/bootstrap.php.cache
/doc/docker/entrypoint/*/*.sql
/web/index_treemenu.php
/web/index_rest.php
/web/index_cluster.php
/web/bundles/
/web/css/
/web/js/
web/fonts/
/web/design
/web/extension
/web/share
/web/var
/web/.htaccess
composer.phar
composer.lock
.buildpath
.project
.settings/
behat.yml
.php_cs.cache
auth.json
ide-twig.json
