/vendor/
.php~
/nbproject/
/.idea/
/app/cache/
/app/ezpublish_legacy
/app/config/parameters.yml
/web/index_treemenu.php
/web/index_rest.php
/web/index_cluster.php
/web/bundles/
/web/design
/web/extension
/web/share
/web/var
/web/.htaccess
composer.phar
