# This file contains the default configuration for behat testing using EzSystems/BehatBundle
default:
    calls:
        error_reporting: 14335 # E_ALL & ~E_USER_DEPRECATED
    extensions:
        Behat\MinkExtension:
            base_url: 'http://localhost'
            goutte: ~
            selenium2:
                wd_host: 'http://localhost:4444/wd/hub'
            javascript_session: selenium2
            browser_name: firefox

        Behat\Symfony2Extension:
            kernel:
                bootstrap: app/autoload.php
                path: app/AppKernel.php
                class: AppKernel
                env: behat
                debug: false

        jarnaiz\JUnitFormatter\JUnitFormatterExtension:
            filename: report.xml
            outputDir: %paths.base%/app/logs/junit

    # default profile: no suites
    suites: ~

imports:
    - vendor/ezsystems/ezpublish-kernel/eZ/Bundle/EzPublishCoreBundle/behat_suites.yml
    - vendor/ezsystems/ezpublish-kernel/eZ/Bundle/EzPublishRestBundle/behat_suites.yml
    - vendor/ezsystems/behatbundle/EzSystems/BehatBundle/behat_suites.yml
    - vendor/ezsystems/platform-ui-bundle/behat_suites.yml
    - vendor/ezsystems/repository-forms/behat_suites.yml
