default:
    calls:
        error_reporting: -1 # Report all PHP errors
    formatters:
        pretty: true
        allure:
          output_path: '%paths.base%/build/allure'
    extensions:
        Behat\MinkExtension:
            base_url: 'http://localhost'
            goutte: ~
            javascript_session: selenium
            sessions:
                selenium:
                    selenium2:
                        browser: chrome
                        wd_host: 'http://localhost:4444/wd/hub'
                        capabilities:
                            extra_capabilities:
                                chromeOptions:
                                    args:
                                        - "--window-size=1440,1080"
                                        - "--no-sandbox"
                                        # problem with different iframe host  - https://bugs.chromium.org/p/chromedriver/issues/detail?id=2758
                                        - "--disable-features=site-per-process"
                chrome:
                    chrome:
                        api_url: "http://localhost:9222"

        DMore\ChromeExtension\Behat\ServiceContainer\ChromeExtension: ~

        Behat\Symfony2Extension:
            kernel:
                bootstrap: config/bootstrap.php
                path: src/Kernel.php
                class: App\Kernel
                env: behat
                debug: true

        EzSystems\BehatBundle\BehatExtension: ~

        Liuggio\Fastest\Behat\ListFeaturesExtension\Extension: ~

        Bex\Behat\ScreenshotExtension:
            active_image_drivers: cloudinary
            image_drivers:
                cloudinary:
                    screenshot_directory: /tmp/behat-screenshot/
                    cloud_name: ezplatformtravis
                    preset: ezplatform
                    mode: normal
                    limit: 10

        Allure\Behat\AllureFormatterExtension: ~

    suites: ~

imports:
    - vendor/ezsystems/ezpublish-kernel/eZ/Bundle/EzPublishCoreBundle/behat_suites.yml
    - vendor/ezsystems/ezplatform-content-forms/behat_suites.yml
    - vendor/ezsystems/ezplatform-admin-ui/behat_suites.yml
    - vendor/ezsystems/behatbundle/behat_suites.yml
    - vendor/ezsystems/ezplatform-http-cache/behat_suites.yml
