default:
    calls:
        error_reporting: -1 # Report all PHP errors
    formatters:
        pretty: true
    extensions:
        Behat\MinkExtension:
            base_url: 'http://v3.local'
            goutte: ~
            javascript_session: selenium
            sessions:
                selenium:
                    selenium2:
                        browser: chrome
                        wd_host: 'http://localhost:4444/wd/hub'
                        capabilities:
                            extra_capabilities:
                                chromeOptions:
                                    args:
                                        - "--window-size=1440,1080"
                                        - "--no-sandbox"
                chrome:
                    chrome:
                        api_url: "http://localhost:9222"

        DMore\ChromeExtension\Behat\ServiceContainer\ChromeExtension: ~

        FriendsOfBehat\SymfonyExtension: ~

        Liuggio\Fastest\Behat\ListFeaturesExtension\Extension: ~

        Bex\Behat\ScreenshotExtension:
            active_image_drivers: cloudinary
            image_drivers:
                cloudinary:
                    screenshot_directory: /tmp/behat-screenshot/
                    cloud_name: ezplatformtravis
                    preset: ezplatform
                    mode: normal
                    limit: 10

        Allure\Behat\AllureFormatterExtension: ~

    suites: ~

imports:
    - behat_suites_new.yaml