<!DOCTYPE html>
<!--[if lt IE 9 ]><html class="unsupported-ie ie" lang=""><![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang=""><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang=""><!--<![endif]-->
<head>
    {# TODO: this probably won't be needed anymore as we will relay on the HTTP cache #}
    {% include 'eZDemoBundle::page_head_displaystyles.html.twig' with { 'user': user } %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% include 'eZDemoBundle::page_head.html.twig' %}
    {% include 'eZDemoBundle::page_head_style.html.twig' %}
    {% include 'eZDemoBundle::page_head_script.html.twig' %}
</head>
<body>
<!-- Complete page area: START -->
<div id="page" class="">
    <!-- Header area: START -->
    {% block header %}
        {% include 'eZDemoBundle::page_header.html.twig' %}
    {% endblock %}
    <!-- Header area: END -->
    <div class="navbar main-navi">
        <!-- Top menu area: START -->
        {% block topMenu %}
            {% render "eZDemoBundle:Demo:topMenu" with {'locationId': 2}, {'standalone': true} %}
        {% endblock %}
        <!-- Top menu area: END -->
        {# TODO: implement logic to control path visibility #}
        <!-- Path area: START -->
        {% if pageData.showPath %}
            {% block path %}
                {% include 'eZDemoBundle::page_toppath.html.twig' %}
            {% endblock %}
        {% endif %}
        <!-- Path area: END -->
    </div>
    <div class="container">
        <div class="row">
            <!-- Main area: START -->
            <div class="span{% set innerColumnSize = innerColumnSize|default( 12 ) %} main-content">
                {% block content %}{% endblock %}
            </div>
            <!-- Main area: END -->
        </div>
    </div>
    <!-- Footer area: START -->
    {% block footer %}
        {% render "eZDemoBundle:Demo:footer" with {'contentTypeIdentifier': 'feedback_form'}, {'standalone': true} %}
    {% endblock %}
    <!-- Footer area: END -->
</div>
<!-- Complete page area: END -->

<!-- Footer script area: START -->
{% block footerScript %}
    {% include 'eZDemoBundle::page_footer_script.html.twig' %}
{% endblock %}
<!-- Footer script area: END -->

</body>
</html>
