<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>{{title}} - eZ Publish Demo Design</title>
    <link rel="stylesheet" type="text/css" href="/design/admin2/stylesheets/core.css" />
    <link rel="stylesheet" type="text/css" href="/design/admin2/stylesheets/content.css" />
    <link rel="stylesheet" type="text/css" href="/design/admin2/stylesheets/theme/rounded.css" />
</head>
<body>
<div style="padding: 10px 20px 30px 20px;">
    {% autoescape false %}
    {{infoOutput}}
    {% endautoescape %}
</div>
</body>
</html>